@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: rgb(216, 210, 210);
    font-family: 'Ropa Sans', sans-serif;
    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.image{
    background-color:white;
    display: flex;
    border-radius: 12px 0 0 12px;
    align-items: center;
}
.image img{
height:50vh;
margin:50px auto;
border-radius: 50%;
}
.content{
    background-color: #ec2552;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    opacity: 0.9;
    margin-top: 1em;
}
.content span{
    height: 1px;
    width: 200px;
    background: white;
    margin-bottom: 30px;
}
.content p{
    padding-bottom: 15px;
    font-weight: 400;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}
.content .button {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    border: white solid;
}

 .content .button a {
    background-color: #ec2552;
    padding: 12px 40px;

    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
}

.content .button a:hover {
    background-color:white;
    color: #ec2552;
}
.links{
    margin: 15px 0;
}
.links li{
   
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.links li:hover{
    border-color: #C850C0;
}

.vertical-line{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: black;
    cursor: pointer;
}
.icons li i{
    color: white;
}


/*****************/

@media(max-width: 900px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
    .image{
        height: 100vh;
        border-radius: none;
    }
    .content{
        height: 100vh;
        border-radius: none;
    }
    .content h2{
        font-size: 1.2em;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 20px;
    }
        .content .button {
            text-align: center;
    
        }
    
        .content .button a {
            padding: 9px 30px;
        }
}
.credit{
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .credit a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
  } 

